* {
  box-sizing: border-box;
  
}

a{
  text-decoration: none;
 
}

.App {
  text-align: center;
  display: flex;
  width: 100vw;
}

.c-container{
  min-height:100vh;
  flex: 10;
  background-color: #eee;
  display: flex;
 flex-direction: column;
}

.whole-cards{
display: flex;
flex-direction: column;
}

.my-card{
  margin: 12px;
  /* width: 25%; */
  min-width: 25%;
 
}
.card-container{
  display: flex;
  flex-wrap: wrap;
}

tbody{
  display: flex;
  flex-direction: column;
  
}

.sidebar-container{
  display: flex;
}

.sidebar{
  flex:2;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.topbar{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sidebar h3 {
  font-size: 14px;
  padding-top: 20px;
}

.sidebar-menu {
  margin: 0;
  padding:0;
  ;
}

.sidebar-menu2 {
  margin: 0;
  padding:0;
  display: flex;
}

.right{
  padding-left: 12px;
}

.sidebar-menu li,
.sidebar-menu2 {
  list-style: none;
  margin: 0;
  padding: 2.5px 0;
  width: 100%;
  padding-left: 10px;
  
}

.sidebar-menu li:hover{
  background-color: #d1e7dd;
  transition: ease all .3s;
}

.sidebar-menu li a {
  text-decoration: none;
  font-size: 14px;
}

.alert{
  height: fit-content;
}

.tab-container{
  width: 80%;
  margin:1rem;
}

.tab-container p {
  padding-left: 16px;
}

.col > p{
  line-height: 12px;
}
.video {
  width: 98%;
  display: flex;
  justify-content: center;
}
